<ion-content>
  <ion-row class="player-info">
    <ion-col col-4>
      <img src="{{ avatar }}" alt="Brak" class="circle-avatar">
    </ion-col>
    <ion-col col-8>
      <h3 class="player-name">Player_{{ playerId }}</h3>
      <h5>Status: <ion-icon name="ios-checkmark-circle"></ion-icon></h5>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item *ngFor="let player of players" (click)="invitePlayer(player.id, player.socket)">
      <ion-avatar item-start>
        <img src="{{ player.avatar }}">
      </ion-avatar>
      <h2>{{ player.name }}</h2>
      <h3>{{ player.socket }}</h3>
      {{ player.status }}
      <ion-icon name="ios-checkmark-circle" item-end *ngIf="player.status == 0"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
