<div class="chessboard">
  <div class="row">
    <div class="field white a8" (click)="move('a8');">
      <div class="checker black-rook" data-checker="br"></div>
    </div>
    <div class="field black b8" (click)="move('b8');">
      <div class="checker black-knight"></div>
    </div>
    <div class="field white c8" (click)="move('c8');">
      <div class="checker black-bishop"></div>
    </div>
    <div class="field black d8" (click)="move('d8');">
      <div class="checker black-king"></div>
    </div>
    <div class="field white e8" (click)="move('e8');">
      <div class="checker black-queen"></div>
    </div>
    <div class="field black f8" (click)="move('f8');">
      <div class="checker black-bishop"></div>
    </div>
    <div class="field white g8" (click)="move('g8');">
      <div class="checker black-knight"></div>
    </div>
    <div class="field black h8" (click)="move('h8');">
      <div class="checker black-rook"></div>
    </div>
  </div>
  <div class="row">
    <div class="field black a7" (click)="move('a7');">
      <div class="checker black-pawn"></div>
    </div>
    <div class="field white b7" (click)="move('b7');">
      <div class="checker black-pawn"></div>
    </div>
    <div class="field black c7" (click)="move('c7');">
      <div class="checker black-pawn"></div>
    </div>
    <div class="field white d7" (click)="move('d7');">
      <div class="checker black-pawn"></div>
    </div>
    <div class="field black e7" (click)="move('e7');">
      <div class="checker black-pawn"></div>
    </div>
    <div class="field white f7" (click)="move('f7');">
      <div class="checker black-pawn"></div>
    </div>
    <div class="field black g7" (click)="move('g7');">
      <div class="checker black-pawn"></div>
    </div>
    <div class="field white h7" (click)="move('h7');">
      <div class="checker black-pawn"></div>
    </div>
  </div>
  <div class="row">
    <div class="field white a6" (click)="move('a6');"></div>
    <div class="field black b6" (click)="move('b6');"></div>
    <div class="field white c6" (click)="move('c6');"></div>
    <div class="field black d6" (click)="move('d6');"></div>
    <div class="field white e6" (click)="move('e6');"></div>
    <div class="field black f6" (click)="move('f6');"></div>
    <div class="field white g6" (click)="move('g6');"></div>
    <div class="field black h6" (click)="move('h6');"></div>
  </div>
  <div class="row">
    <div class="field black a5" (click)="move('a5');"></div>
    <div class="field white b5" (click)="move('b5');"></div>
    <div class="field black c5" (click)="move('c5');"></div>
    <div class="field white d5" (click)="move('d5');"></div>
    <div class="field black e5" (click)="move('e5');"></div>
    <div class="field white f5" (click)="move('f5');"></div>
    <div class="field black g5" (click)="move('g5');"></div>
    <div class="field white h5" (click)="move('h5');"></div>
  </div>

  <div class="row">
    <div class="field white a4" (click)="move('a4');"></div>
    <div class="field black b4" (click)="move('b4');"></div>
    <div class="field white c4" (click)="move('c4');"></div>
    <div class="field black d4" (click)="move('d4');"></div>
    <div class="field white e4" (click)="move('e4');"></div>
    <div class="field black f4" (click)="move('f4');"></div>
    <div class="field white g4" (click)="move('g4');"></div>
    <div class="field black h4" (click)="move('h4');"></div>
  </div>
  <div class="row">
    <div class="field black a3" (click)="move('a3');"></div>
    <div class="field white b3" (click)="move('b3');"></div>
    <div class="field black c3" (click)="move('c3');"></div>
    <div class="field white d3" (click)="move('d3');"></div>
    <div class="field black e3" (click)="move('e3');"></div>
    <div class="field white f3" (click)="move('f3');"></div>
    <div class="field black g3" (click)="move('g3');"></div>
    <div class="field white h3" (click)="move('h3');"></div>
  </div>
  <div class="row">
    <div class="field white a2" (click)="move('a2');">
      <div class="checker white-pawn"></div>
    </div>
    <div class="field black b2" (click)="move('b2');">
      <div class="checker white-pawn"></div>
    </div>
    <div class="field white c2" (click)="move('c2');">
      <div class="checker white-pawn"></div>
    </div>
    <div class="field black d2" (click)="move('d2');">
      <div class="checker white-pawn"></div>
    </div>
    <div class="field white e2" (click)="move('e2');">
      <div class="checker white-pawn"></div>
    </div>
    <div class="field black f2" (click)="move('f2');">
      <div class="checker white-pawn"></div>
    </div>
    <div class="field white g2" (click)="move('g2');">
      <div class="checker white-pawn"></div>
    </div>
    <div class="field black h2" (click)="move('h2');">
      <div class="checker white-pawn"></div>
    </div>
  </div>
  <div class="row">
    <div class="field black a1" (click)="move('a1');">
      <div class="checker white-rook"></div>
    </div>
    <div class="field white b1" (click)="move('b1');">
      <div class="checker white-knight"></div>
    </div>
    <div class="field black c1" (click)="move('c1');">
      <div class="checker white-bishop"></div>
    </div>
    <div class="field white d1" (click)="move('d1');">
      <div class="checker white-queen"></div>
    </div>
    <div class="field black e1" (click)="move('e1');">
      <div class="checker white-king"></div>
    </div>
    <div class="field white f1" (click)="move('f1');">
      <div class="checker white-bishop"></div>
    </div>
    <div class="field black g1" (click)="move('g1');">
      <div class="checker white-knight"></div>
    </div>
    <div class="field white h1" (click)="move('h1');">
      <div class="checker white-rook"></div>
    </div>
  </div>
  </div>
