<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

  <ion-row>
    <ion-col col-6>
      <ion-card class="card-time">
        <ion-card-header padding-no>
          <b>Czas:</b> {{ time }}
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card class="card-round">
        <ion-card-header padding-no>
          <b>Runda:</b> {{ currentRound + 1}}/{{ game.settings.round }}
        </ion-card-header>
      </ion-card>
    </ion-col>


  </ion-row>
  <ion-row *ngIf="start">
    <ion-col col-12>
      <ion-card class="card-question">
        <ion-card-header padding-no>
          <b>Pytanie:</b>
        </ion-card-header>
        <div padding>{{ question.content ? question.content : '' }}</div>
      </ion-card>
    </ion-col>
    <ion-col col-12 (click)="answer('A')">
      <ion-card class="card-answer">
        <ion-card-header padding-no>
          <b>A)</b> {{ question.a ? question.a : '' }}
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col col-12 (click)="answer('B')">
      <ion-card class="card-answer">
        <ion-card-header padding-no>
          <b>B)</b> {{ question.b ? question.b : '' }}
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col col-12 (click)="answer('C')">
      <ion-card class="card-answer">
        <ion-card-header padding-no>
          <b>C)</b> {{ question.c ? question.c : '' }}
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col col-12 (click)="answer('D')">
      <ion-card class="card-answer">
        <ion-card-header padding-no>
          <b>D)</b> {{ question.d ? question.d : '' }}
        </ion-card-header>
      </ion-card>
    </ion-col>

  </ion-row>

  <ion-row *ngIf="!start">
    <ion-col col-12>
      <ion-card padding class="card-wait">
          <img src="assets/imgs/logo.png" >
          <h1>Twój przeciwnik jeszcze gra...</h1>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
